@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #39b9f1;
  --ifm-color-primary-dark: #33a7d8;
  --ifm-color-primary-darker: #2c8db7;
  --ifm-color-primary-darkest: #1b6e92;
  --ifm-color-primary-light: #39b9f1;
  --ifm-color-primary-lighter: #44bcef;
  --ifm-color-primary-lightest: #5bc5f2;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #39b9f1;
  --ifm-color-primary-dark: #38b1e4;
  --ifm-color-primary-darker: #32a4d5;
  --ifm-color-primary-darkest: #3ca0cb;
  --ifm-color-primary-light: #39b9f1;
  --ifm-color-primary-lighter: #3cc4ff;
  --ifm-color-primary-lightest: #52cbff;

  --ifm-navbar-background-color: #1b1b1d;
}

:root {
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
[data-theme='dark'] {
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer--dark {
  background-color: #1b1b1d;
}

.header-icon-link {
  display: inline-flex
}

.imgFeaturePreview {
  max-width: 1000px;
}